.alarmInfo{
    position: absolute;
    width: 94%;
    height: 75%;
    margin-left: 3%;
    margin-top: 1%;
    display: none;
    /* background-color: #17e6ff; */
    /* border: 1px solid white; */
}

#alarmTable{
    position: relative;
    width: 98%;
    height: 92%;
    margin: 1%;
    /* background-color: antiquewhite; */
    color: white;
    overflow-y: auto;
}

#alarmTable table{
    position: relative;
    height: 10px;
    width: 100%;
    /* border: 1px solid #11bce7; */
    text-align:center;
    scroll-behavior: auto;
}
#alarmTable td{
    border: .5px dotted #11bce7;
}
#alarmTable th{
    border-radius: 3px;
    font-weight: light;
}
.button{
    border-radius: 3px;
    background-color: #11bce7;
    color: white;
    border: 1px solid #11bce7;
    width: 80px;
    margin-left: 10px;
}

.button:hover{
    cursor: pointer;
    background-color: #49c9e9;
}