/* 网络拓扑图 */
.topology{
    position: absolute;
    width: 100%;
    height: 730px;
    display: none;
    /* background-color: #02b4fa; */
}
/* 左侧导航栏 */
.topoNavi{
    position: relative;
    height: 850px;
    width: 280px;
    background-image: url(../img/左侧菜单背景.png);
    background-size: 100%;
    float: left;
}
.topoNaviTitle{
    position: relative;
    height: 35px;
    width: 200px;
    margin-top: 110px;
    margin-left: 15px;
    font-weight: bolder;
    font-size: 25px;
    color: #fdd805;
}
#topNaviSub{
    position: relative;
    height: 20px;
    width: 200px;
    margin-top: 5px;
    margin-left: 20px;
    color: #bdd6f7;
    /* background-color: #02b4fa; */
}
.topoNaviInfo{
    position: relative;
    height: 53%;
    width: 70%;
    margin-left: -10px;
    /* background-color: #02b4fa; */
}
.topoNaviInfo p{
    color: #dbd5d5;
    font-size: large;
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    color: #bdd6f7;
}
.topoNaviInfo p:hover{
    color: #c7ba6f;
    font-weight: bold;
}
#topoNaviInfo1{
    position: relative;
    width: 185px;
    height: 31px;
    margin-top: 20px;
    margin-left: 5%;
    cursor: pointer;
}
#topoNaviInfo2,#topoNaviInfo3,
#topoNaviInfo4,#topoNaviInfo5,#topoNaviInfo6{
    position: relative;
    width: 185px;
    height: 31px;
    margin-top: 20px;
    margin-left: 5%;
    cursor: pointer;
}




/* 右侧主窗口 */
.topoMain1{
    position: relative;
    height: 100%;
    width: 83%;
    margin-left: 2%;
    float: left;
    background-image: url(../img/隧道.svg);
    background-size: 100%;
    background-position: 0px 260px;
    background-repeat: no-repeat;
}
.topoMain2{
    position: relative;
    height: 100%;
    width: 83%;
    margin-left: 2%;
    float: left;
    background-image: url(../img/隧道.svg);
    background-size: 100%;
    background-position: 0px 260px;
    background-repeat: no-repeat;
    display: none;
}
.topoTitle{
    position: absolute;
    width: 350px;
    height: 30px;
    margin-left: -240px;
    margin-top: -20px;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    letter-spacing: .1em;
    /* border-bottom: 3px solid rgba(173, 160, 160, 0.479); */
}
.cycle{
    position: absolute;
    width: 1270px;
    height: 240px;
    margin-left: 180px;
    margin-top: 260px;
    border: 4px solid white;
    border-radius: 8px;
    z-index: 1;
}
/* 网络拓扑盒子 */
.topoBox{
    position: relative;
    height: 280px;
    width: 263px;
    margin-left: 120px;
    margin-top: 40px;
    /* background-color: #173744d3; */
    /* border-radius: 8px; */
    float: left;
    z-index: 2;
}
/* plc IP */
.plcIP{
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    color: white;
    /* background-color: rebeccapurple; */
}
.plcNum{
    position: relative;
    height: 30px;
    width: 100%;
    text-align: center;
    color: white;
    /* background-color: red; */
}
.plcPic{
    position: relative;
    height: 76px;
    width: 184px;
    margin-top: 5px;
    margin-left: 20px;
    background-image: url(../img/PLC.svg);
    float:left;
    /* background-color: #dbd5d5; */
}
.plcStat{
    position: relative;
    height: 50px;
    width: 50px;
    margin-left: 9px;
    margin-top: 26px;
    float: left;
    /* background-image: url(../icon/故障.png); */
    /* background-color: yellow; */
}
/* 交换机IP */
.swtIP{
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: 90px;
    color: white;
    text-align: center;
    /* background-color: #bdd6f7; */
}
.swtNum{
    position: relative;
    height: 30px;
    width: 100%;
    color: white;
    text-align: center;
    /* background-color: #085ac5; */
}
.swtPic{
    position: relative;
    width: 29px;
    height: 41px;
    margin-top: 5px;
    margin-left: 90px;
    background-image: url(../img/交换机.svg);
    float: left;
    /* background-color: rebeccapurple; */
}
.swtStat{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 11px;
    background-size: 100% 100%;
    float:left;
}
.swtStat img{
    width: 32px;
    height: 32px;
}